{% extends "ap2.j2" %}

{% block summary %}
<p>OPMERKING:</p>
<p>Dit traject werd in samenspraak met de stakeholders stopgezet om verder onderzoek omtrent gestructureerde voorwaarden mogelijk te maken. Deze standaard bevindt zich op dit moment in de status zoals die na de tweede (of is het derde) thematische werkgroep werd uitgewerkt. Er vindt met andere woorden geen goedkeuring plaats van deze standaard.</p>
<p>Het applicatieprofiel van OSLO Voorwaarden Dienstverlening heeft als doel het in kaart brengen, definiëren en standaardiseren van informatie met betrekking voorwaarden en bewijsstukken om gebruik te kunnen maken van een Publieke Dienstverlening.</p>
<p>Het model focust zich op eenerzijds de voorwaarden die gekoppeld zijn aan een Publieke Dienstverlening.</p>
<p>Langs de andere kant worden de bewijzen voor de Publieke Dienstverlening ook behandeld.</p>
<p>De Publieke Dienstverlening is verbonden aan een Publieke Organisatie. </p>
<p>Een Agent kan participeren in verschillende vormen aan een Publieke Dienstverlening, dit is beschreven in Participatie.</p>
<p>Om aan een Publieke Dienstverlening te voldoen kunnen er Voorwaarden worden opgelegd.</p>
<p>Uit deze Voorwaarden komt een Informatieconcept.</p>
<p>Het concept bevat de verwachte waarde om aan de Voorwaarde te voldoen.</p>
<p>Deze verwachte waarde komt uit de OndersteundendeWaarde, die op zijn beurt de waarde haalt uit het Bewijs zelf.</p>
<p>Het Bewijs moet voldoen aan bepaalde vormvereisten die vervat zitten in BewijsType.</p>
<p>Deze BewijsTypes kunnen gebundeld worden in een lijst, de BewijsTypeLijst.</p>
<p>Een Voorwaarde kan een of meerdere BewijsTypeLijsten hebben.</p>
<p>Slechts een van de BewijsTypeLijsten moet voldaan zijn om recht te hebben op de Publieke Dienstverlening.</p>
<p>Alle BewijsTypes in een BewijsTypeLijst moeten wel voldaan zijn.</p>
<p>Enumeraties worden in principe buiten het applicatieprofiel beschreven, de in het diagram weergegeven enumeratiewaarden zijn dus illustratief.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
